@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #038287a7;
}

button{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  background-color: #004578;
  border: 0px;
  height: 25px;
  margin-left: 10px;
  border-radius: 10px;
}

button:hover{
  cursor: pointer;
  background-color: #038387;
}

#home{
  padding: 10px;
  border: 0px;
  border-radius: 25px;
  background-color: white;
  border-style: solid;
  width: 350px;
  height: 300px;
  text-align: center;
}


